@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: black;
    line-height: 2.0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* #home {
    width: 1980px;
    height: 1080px;
} */

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo {
    width: 210px;
    margin-top: 18px;
}

/* ---------------nav 메뉴--------------- */
.main-nav {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
    margin-top: 40px;
}

.main-nav a {
    color: #746B6B;
}

.main-nav a {
    background-image: linear-gradient(120deg, #ffffbb 0%, #d9ffd8);
    background-repeat: no-repeat;
    background-size: 100% 0%;
    background-position: 0 91%;
    transition: 0.3s ease-in;
}

.main-nav a:hover {
    background-size: 100% 50%;
}

.main-nav li {
    /* margin-left: 36px; */
    padding: 18px;
    text-align: center;
}

/* ----------------main content--------------- */


.home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-bottom: 1%; */
    gap: 1em;
}


/* ---------------------1-------------------------- */

.comment-monitor {
    width: 40%;
}

.comment-on {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 3.5rem;
    margin-top: 30%;
    color: #746B6B;
    height: fit-content;
}

/* -------------------2----------------------------- */
.introduce-text {
    width: 50%;
    margin-left: 5%;
    height: fit-content;
}

.text-at {
    color: #746B6B;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Nanum Myeongjo', serif;
    margin-top: 30%;
    background-color: #f9f6f8;
    border-radius: 5%;
}


/* -------------------3----------------------------- */

.main-monitor-wrapper {
    position: relative;

}

.item {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.items {
    position: absolute;
    margin-top: -70%;
    margin-left: 10%;
}

.move-to-skills {
    color: #BC6666;
    font-weight: 500;
    font-size: 40px;
}

.move-to-skills :hover {
    color: #eed89e;
}


.link-to-skills {
    position: absolute;
    margin-top: -42%;
    margin-left: 28%;
}

/* -----------------------4---------------------- */

.title1 {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 900;
    font-size: 7rem;
    color: #D29898;
    letter-spacing: 0.3cm;
    margin-left: 200px;
    width: 7ch;
    animation: typing 1.7s steps(6), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    line-height: 1.5;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    100% {
        border-color: transparent;
    }
}


.title2 {
    margin-top: -7%;
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 900;
    font-size: 7rem;
    color: #746B6B;
    letter-spacing: 0.3cm;
    margin-left: 200px;
    width: 11ch;
}

/* ----------------------About Me---------------------- */
.second-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Header-module-contents-text {
    display: flex;
    flex-direction: row;
    margin-top: 45px;
}

.backhome-img {
    width: 2rem;
    height: 2rem;
    margin-top: 10px;
}

.page-title {
    font-size: 2rem;
    color: #746B6B;
    font-family: 'Dongle', sans-serif;
}

.value-text {
    padding-top: 5%;
    padding-left: 3%;
    font-size: 1.3rem;
}

/* ----------------------second page content------------------------- */

.second-screen-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
    margin-bottom: 0.7%;

}

.second-content-one {
    background-color: rgba(166, 154, 167, 0.16);
    border-radius: 5%;
    /* display: flex;
    flex-direction: row; */
}

.Idimg {
    width: 50%;
    height: 20%;
    margin-top: 11%;
    margin-right: 15%;
    margin-left: 25%;
}

.intro-items {
    margin-left: 25%;
}


.intro-img {
    width: 32px;
    height: 32px;
    margin-left: 15%;
    margin-right: 5%;
}

.intro {
    display: flex;
    margin-bottom: 10px;
}

.My {
    color: #292323;
    font-weight: 600;
}

.item-git :hover {
    color: #D29898;
}

/* -----------------------second-page---item--second------------------ */
.values-text {
    background-color: rgba(200, 167, 118, 0.317);
    border-radius: 5%;
    width: 600px;
    height: 700px;
}

/* -------------------footer-------------------------- */
footer {
    background-color: #eed89e;
    text-align: center;
    padding: 0 26px;
}

footer p {
    color: #746B6B;
}

/* ----------------------------skills page------------------ */
/* .third-screen-header {
    width: 1920px;
    height: 1080;
} */

.third-screen-contents {
    width: 100%;
    margin: 0 auto;
    margin-top: 10%;
    padding: 0 4%;
    padding-bottom: 4.3%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.third-screen-flex {
    margin-left: 5%;
    margin-right: 5%;
    width: 600px;
    height: 500px;
}

.skill {
    margin-left: 25%;
    width: 400px;
}

.chart-name {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}

.lists {
    display: flex;
    flex-direction: row;
    margin-left: 25%;
    margin-bottom: 3%;
}

.chart-title {
    font-size: 2.0rem;
    font-weight: 600;
}

.lisence-title {
    font-size: 2.0rem;
    font-weight: 600;
}

.skill-icon {
    content: "";
    display: block;
    width: 30px;
    height: 20px;
    background: #f15b29;
    transform: rotate(-30deg);
    border-radius: 10px;
}

.lisence-list {
    content: "";
    display: block;
    width: 30px;
    height: 20px;
    background: #f15b29;
    transform: rotate(-30deg);
    border-radius: 10px;
}

.real-list {
    color: #746B6B;
    font-weight: 600;
    font-size: 2.5rem
}

/* --------------------------------Projects--------------------------------- */
.fourth-content-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}

.fourth-common-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-text {
    font-family: 'Do Hyeon', sans-serif;
    color:#383030de;
    font-weight: 900;
    font-size: 8rem;
    text-align: center;
    margin-top: -7%;
    margin-left: 5%;
    margin-right: 5%;
}

.title-text span {
        display: inline-block;
        margin: 0 -.05em;
        animation: loading 1.8s 2 alternate;
    }

    loading span:nth-child(2) {
        animation-delay: .2s;
    }

    loading span:nth-child(3) {
        animation-delay: .3s;
    }

    loading span:nth-child(4) {
        animation-delay: .4s;
    }

    loading span:nth-child(5) {
        animation-delay: .5s;
    }

    loading span:nth-child(6) {
        animation-delay: .6s;
    }

    loading span:nth-child(7) {
        animation-delay: .7s;
    }

    @keyframes loading {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

#arrow-left {
    width: 25px;
    height: 24px;
    margin-top: 15px;
}

#arrow-left:hover {
    transform: translate(-15px);
    background-color: rgba(241, 170, 154, 0.217);
}

#arrow-right {
    width: 25px;
    height: 24px;
    margin-top: 15px;

}

#arrow-right:hover {
    transform: translate(15px);
    background-color: rgba(241, 170, 154, 0.217);
}

.fourth-under-content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fourth-content-right2 {
    width: 45%;
    text-align: center;
    margin-top: 2%;

}

.fourth-content-left1 {
    width: 45%;
}

.project-name {
    font-size: 3rem;
    text-decoration: overline 1px black;

}

.real-monitor-img {
    border-radius: 5%;
    border-block-end-style: hidden;

}