@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    color: black;
    line-height: 2.0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* #home {
    width: 1980px;
    height: 1080px;
} */

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
}

.logo {
    width: 210px;
    margin-top: 18px;
}

/* ---------------nav 메뉴--------------- */
.main-nav {
    display: flex;
    list-style-type: none;
    font-size: 1.5rem;
    margin-top: 40px;
}

.main-nav a {
    color: #746B6B;
}

.main-nav a {
    background-image: linear-gradient(120deg, #ffffbb 0%, #d9ffd8);
    background-repeat: no-repeat;
    background-size: 100% 0%;
    background-position: 0 91%;
    transition: 0.3s ease-in;
}

.main-nav a:hover {
    background-size: 100% 50%;
}

.main-nav li {
    /* margin-left: 36px; */
    padding: 18px;
    text-align: center;
}

/* ----------------main content--------------- */


.home-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1%;
    gap: 1em;
}


/* ---------------------1-------------------------- */

.comment-monitor {
    width: 40%;
}

.comment-on {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 3.5rem;
    margin-top: 30%;
}

/* -------------------2----------------------------- */
.introduce-text {
    width: 50%;
    margin-left:5%;
}

.text-at {
    font-size: 1.8rem;
    font-weight: 700;
    /* font-family: 'Dongle', sans-serif; */
    margin-top: 30%;
}


/* -------------------3----------------------------- */

.main-monitor-wrapper {
    position: relative;
    
}

.item {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.items {
    position : absolute;
    margin-top : -70%;
    margin-left : 10%;
}

.move-to-skills {
    color: #BC6666;
    font-weight: 500;
    font-size: 40px;
}

.move-to-skills :hover {
    color: #eed89e;
}


.link-to-skills {
    position : absolute;
    margin-top : -42%;
    margin-left : 28%;   
}

/* -----------------------4---------------------- */
/* .maintext-wrap {
    display: flex;
    flex-direction: column;
} */

.title1 {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 900;
    font-size: 7rem;
    color : #D29898;
    letter-spacing: 0.3cm;
    margin-left: 200px;
    width: 7ch;
    animation: typing 1.7s steps(6), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    line-height: 1.5;
}

@keyframes typing {
    from {
      width: 0;
    }
  }
      
  @keyframes blink {
    100% {
      border-color: transparent
    }
  }

.title2 {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 900;
    font-size: 7rem;
    color : #D29898;
    letter-spacing: 0.3cm;
    margin-left: 200px;
    width: 11ch;
    animation: typing 3s steps(9), blink .8s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    line-height: 1.5;
}  

@keyframes typing {
    from {
      width: 0;
    }
  }
      
  @keyframes blink {
    0% {
      border-color: transparent;
    }
  }

  /* ----------------------About Me---------------------- */
  .second-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom:50px;
}

.Header-module-contents-text {
    display: flex;
    flex-direction: row;
    margin-top : 45px;
}

.backhome-img {
    width : 2rem;
    height : 2rem;
    margin-top : 10px;
}

.page-title {
    font-size: 1.5rem;
    color: #746B6B;
}

/* ----------------------second page content------------------------- */

.second-screen-content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 50%;
    margin-bottom : 10px;
}

.second-content-one {
    background-color: rgba(166, 154, 167, 0.16);
    border-radius: 5%;
    /* display: flex;
    flex-direction: row; */
}

.Idimg {
    width : 50%;
    height: 20%;
    margin-top: 15%;
    margin-right : 15%;
    margin-left : 25%;
}

.intro-items {
    margin-left : 25%;
}


.intro-img {
    width: 32px;
    height: 32px;
    margin-left: 15%;
    margin-right: 5%;
}

.intro {
    display: flex;
    margin-bottom : 10px;
}

.My {
    color: #292323;
}

.item-git :hover {
    color: #D29898;
}

/* -----------------------second-page---item--second------------------ */
.values-text {
    background-color: rgba(200, 167, 118, 0.317);
    border-radius: 5%;
    width: 600px;
    height: 720px;
}

/* -------------------footer-------------------------- */
footer {
    background-color: #eed89e;
    text-align: center;
    padding: 0 26px;
}

footer p {
    color: #746B6B;
}

/* ----------------------------skills page------------------ */
/* .skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

.chart-class {
    display: flex;
    flex-direction: column;
    line-height: 10px;
}

.progresscharts {
    width: 40%;
    height: 15%;
}

.division {
    display: flex;
    margin-left: 12rem;
}

.third-content-title {
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    margin-top: 10rem;
    margin-left: 23rem;
}

.subjectprogress {
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
    display: inline-block;
    width: 7rem;
}




